        p{
            border: 10px;
            background: grey;
            padding: 0px;           
            
        }
        div p{
            
            font-family: cursive;
            background: red;
            background-color: aquamarine;
                        
        }
         .estiloparrafo{
            border: 10px;
            background: blue;
            padding: 0px;
                    
        }
        .sdiv{
          
            background-color: aquamarine;
            background: red;
            border: 15px;
            align-content: center;
           display: block;
        }

        .columna3{
            background: red;
        }

